{% extends 'tienda/base.html' %}
{% load static %}
{% block title %}Citas{% endblock %}
{% block contenedor %}

<a class="btn btn-light m-2 crear_formulario" href="{% url 'tienda:citas_formulario' %}" ><i class="bi bi-plus-lg" style="font-size: 23px;"></i></a>

<table class="table table-striped">
    <thead class="encabezados_tablas">
        <th>ID</th>
        <th>Fecha y hora</th>
        <th>Servicio</th>
        <th>Precio</th>
        <th>Cliente</th>
        <th>Acciones</th>
        <th>
            <form class="d-flex" role="search" method="post" action="{% url 'tienda:citas_buscar' %}" style="">
                {% csrf_token %}
                <a href=""><i class="btn btn-dark bi bi-arrow-counterclockwise" style="color: white;"></i></a>
                <input class="form-control buscar_tablas" type="search" placeholder="Buscar" aria-label="Search" name="buscar"
                       value="{{ buscado }}">
                <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </th>
    </thead>

{% if data %}
    {% for c in data %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.fecha_hora }}</td>
        <td>{{ c.servicio.nombre }}</td>
        <td>{{ c.precio }}</td>
        <td>
            {{ c.cliente.nombre }}
        </td>
        <td>
            <a href="{% url 'tienda:citas_editar' c.id %}" class="btn btn-info"><i class="bi bi-pencil-fill"></i></a>
            <a href="javascript:confirmar_eliminar('{{ c.id }}', '{% url 'tienda:citas_eliminar' c.id %}?id=');"
               class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a>
        </td>
        <td></td>
    </tr>
    {% endfor %}
{% else %}
    <td>No hay registros...</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    {% endif %}
</table>

    <script>
        function confirmar_eliminar(id, url) {
            if (confirm("¿Estás seguro de que deseas eliminar este pedido?")) {
                window.location.href = url + id;
            }
      }
    </script>
</body>
</html>

{% endblock %}
